body{
  width: 64rem;
  height: auto;
  margin: auto;
}
.bar{
  width: 100%;
  background-color: var(--white);
  height: 7.4rem;
  position: relative;
  border-bottom: 2px solid #ededed ;
}
.bar-inner{
  width: 100%;
  height: 4.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.bar-inner a{
  display: block;
  height: 4.4rem;
  width: 4.4rem;
  margin-left: 2.2rem;
  background: url(../image/hm/backbtn.png)no-repeat center/4.4rem;
}
.bar-inner h4{
  font-size: 2.7rem;
  font-weight: var(--medium);
  padding-left: 7rem;
}
.category-content{
  width: 100%;
  background:linear-gradient(var(--primary-sub),var(--white),var(--primary-sub));
  display: none;
}
.category-content.active{display: block;}
.category-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 4.5rem 3rem;
}
.category-content .category-txt h1{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif; 
  font-size: 2.9rem;
  font-weight: var(--bold);
  line-height: 3.7rem;
  b{
    color: var(--primary);
  }
}
.category-content .category-txt p{
  font-size: 2.2rem;
  color: var(--medium-gray);
  font-weight: var(--regular);
}
.category-content .category-inner .category-img img{
  width: 7.4rem;
  height: 9.3rem;
  margin-right: 8rem;
}
.cards{
  display: flex;
  flex-direction: column;
}
.card-row,
.card1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 2.7rem;
}
.card{
  width: 28.2rem;
  height: 38.7rem;
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9rem;
  background: #FFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 0;
  position: relative;
}
.card-inner{
  position: relative;
  width: inherit;
  height: inherit;
}
.card-inner .card-img{
  width: 100%;
  height: 22.3rem;
}
.card-inner .card-img img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.card-inner .card-txt{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0 1.5rem;
}
.card .card-inner .card-txt ul li:nth-child(1){
  font-size: 1.6rem;
  color: var(--dark-gray);
  padding-top: 0.5rem;
}
.card .card-inner .card-txt ul li:nth-child(2){
  font-size: 1.9rem;
  font-weight: var(--medium);
  color: var(--black);
  line-height: 2.6rem;
  margin-top: 0.5rem;
}
.card .card-inner .card-txt ul li:nth-child(3){
  color: var(--secondary);
  font-size: 1.6rem;
  font-weight: var(--medium);
  margin-top: 0.7rem;
}
.card .card-inner .card-txt .text-inner{
  display: flex;
  align-items: center;
  height: 1.8rem;
  gap: 0.5rem;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card .card-inner .card-txt .text-inner h6{
  color: var(--primary);
  font-weight: var(--bold);
}
.card .card-inner .card-txt .text-inner p{
  color: var(--black);
  font-weight: var(--medium);
}
.card .card-inner .card-txt .card-review span{
  font-size: 1.4rem;
  font-weight: var(--regular);
  color: var(--primary);
  background-color: var(--primary-sub);
  padding: 0.3rem;
}
.card-inner .add-to-wish{
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    cursor: pointer;
    object-fit: cover;
  }
.card-inner .add-to-wish.active img{
  content: url(../image/hm/hearticon-1.png);
}
.morebtn{
  display: block;
  border: none;
  cursor: pointer;
  width: 26.7rem;
  height: 7.4rem;
  font-size: 2.3rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 0.7rem;
  margin: auto;
  margin-bottom: 3rem;
}


/*(영화추천) */
.movie{
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.movie .movie-inner{
  display: flex;
  flex-direction: column;
}
.movie .movie-inner .movie-text{
  padding-left: 2.9rem;
}
.movie .movie-inner .movie-text h6{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif;
  font-size: 2.2rem;
  font-weight: var(--bold);
}
.movie .movie-inner .movie-text p{
  font-size: 1.9rem;
  font-weight: var(--regular);
  color: var(--dark-gray);
}
/* 영화 슬라이드 */
.swiper{
  margin-top: 1.5rem;
  background-color: #1d1d1d;
  position: relative;
  width: 100%;
  height: 37.2rem;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide a img{
  display: block;
  width: 18rem;
  height: 26.7rem;
  border-radius: 1rem 1rem;
  opacity: 0.7;
  object-fit: cover;
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
}
.more-slide{
  width: 12rem;
  height: 100%;
  align-items: center;
}
.more-slide p{
  color: var(--white);
  font-size: 1.9rem;
  font-weight: var(--regular);
}

.swiper img:hover{opacity: 1;}

/* 3번째 섹션(다른카테고리 아이콘) */
.icons{
  margin: auto;
  margin-top: 4.4rem;
  width: 57.2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.2rem;
}
.icons .box{
  width: 27.5rem;
  height: 27.5rem;
  border-radius: 3rem;
  position: relative;
  display: flex;
}
.icons .box:last-child{
  grid-column: span 2;
  justify-self: center;
}
.icon{
  margin-top: 5rem;
  margin-left: 3rem;
  font-size: 2.9rem;
}
.icon h6{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif;
  font-weight: var(--bold);
}
.icon span{color: var(--primary);}


.icons .box:nth-child(1){background-color: #F2EDFB;}
.icons .box:nth-child(2){background-color: #FFF8F4;}
.icons .box:nth-child(3){background-color: #FFF8F4;}
.icons .box:nth-child(4){background-color: #F2EDFB;}
.icons .box:nth-child(5){background-color: #F2EDFB;}
.icons .box img{
  width: 13.3rem;
  height: 16rem;
  object-fit: cover;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.icons .box span{
  font-size: 2.5rem;
  font-weight: var(--medium);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.icons .box:nth-child(1) span{color: var(--secondary);}
.icons .box:nth-child(2) span{color: #97654B;}
.icons .box:nth-child(3) span{color: #97654B;}
.icons .box:nth-child(4) span{color: var(--secondary);}
.icons .box:nth-child(5) span{color: var(--secondary);}
