@import url(reset.css);
@import url(font.css);

:root {
  --default-fs: 2rem;
  --default-color: #333333;
  --white: #ffffff;
  --primary: #FF3164;
  --primary-sub: #FDEDF3;
  --secondary: #7B3AEB;
  --secondary-sub: #F2EDFB;
  --light-gray1: #F4F4F4;
  --light-gray2:#EDEDED;
  --medium-gray: #939393;
  --dark-gray: #777777;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
}

/* layout */
* {box-sizing: border-box;}
body {min-height: 100vh;}

/* Typography */
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--default-fs);
  color: var(--default-color);
}
h1{
  font-size: 4rem;
  font-weight: 900;
  line-height: 2;
}
h2{
  font-size: 3rem;
  font-weight: var(--bold);
  line-height: 2;
}

.main-title{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif; 
  font-size: 3rem;
  font-weight: var(--bold);
}
.sub-title{font-size: 2.2rem;}
.button-tag{ /* keyword */
  font-size: 2rem;
  font-weight: var(--medium);
}

/* Color */
.primary-bg{background-color: var(--primary);}
.primary-sub-bg{background-color: var(--primary-sub);}
.secondary-bg{background-color: var(--secondary);}
.secondary-sub-bg{background-color: var(--secondary-sub);}
.light-gray-bg1{background-color: var(--light-gray1);}
.light-gray-bg2{background-color: var(--light-gray2);}

/* Button */
.button{
  width: 60rem;
  height: 7.5rem;
  border-radius: 7.4rem;
  background-color: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: var(--medium);
  cursor: pointer;
}

.button2{
  width: 26.8rem;
  height: 7.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  background-color: #FF3164;
  color: #fff;
}

/* Card */
.card{
  width: 28.2rem;
  height: 38.7rem;
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9rem;
  background: #FFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 0;
  position: relative;
}
.card svg{
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}
.card-img{
  width: 100%;
  height: 22.3rem;
}
.card-img img{
  width: 100%;
  height: 100%;
  display: block;
}
.card-txt{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0 1.5rem;
  
}

/* Card Typography */
.card-title {
  font-size: 1.9rem;
  font-weight: var(--medium);
}
.card-desc{font-size: 1.7rem;}
.card-location{
  font-size: 1.6rem;
  color: #777;
}
.card-discount{
  font-weight: var(--bold);
  color: #FF3165;
}
.card-price{
  font-weight: var(--medium);
  color: #333;
}
.card-review{
  font-size: 1.6rem;
  font-weight: var(--medium);
  color: #7B3AEB;
}