.site-footer{
  width: 100%;
  height: 100%;
  color: #4E4E4E;
  background-color: #FDEDF3;
  padding-bottom: 3rem;
  margin-top: 6rem;
}
.footer-inner{padding: 1.5rem;}
.footer-name{
  font-size: 1.3rem;
  padding: 1.5rem 0;
  font-weight: var(--medium);
}
.site-footer p {
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 1rem 0;
}
.footer-desc{
  display: flex;
  gap: 1.5rem;
}
.copy{
  font-size: 1.1rem;
  padding-bottom: 3rem;
}