.wl {
  width: 100%;
}
.wl-wrap {
  margin-top: 5rem;
  background: #f4f4f4;
}
.wl-header {
  position: fixed;
  top: 6.5rem;
  padding: 1.5rem;
  z-index: 10;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--light-gray1)
}
.wl-back img {
  width: 2.2rem;
}
.wl-title {
  font-size: 1.8rem;
  font-weight: var(--medium);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* ===== Toolbar (전체선택 / 선택삭제) ===== */
.wl-toolbar {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 4rem 1.7rem 0 1.7rem;
  color: var(--medium-gray) !important;
}
.wl-selectall,
.wl-delete {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
}
.wl-delete{
  border: 1.2px solid #dedede;
  background: #fff;
  border-radius: 0.5rem;
  width: 8.2rem;
  height: 2.6rem;
  padding: 0 0.5rem;
}
.wl-delete img{
  margin-top: 0.4rem;
}
.wl-check0{
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
  border: 1.5px solid #ccc;
  display: block;
  box-sizing: border-box;
  background: url(/image/cart/ckeck-off.png) no-repeat center;
}
.wl-check {
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
  border: 1.5px solid #ccc;
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  box-sizing: border-box;
  background: url(/image/cart/ckeck-off.png) no-repeat center;
}
.wl-selectall[data-all="true"] .wl-check {
  background: url(/image/cart/ckeck-on.png) center var(--white);
  border-color: var(--primary);
}
.wl-selectall[data-all="true"] .wl-check0 {
  background: url(/image/cart/ckeck-on.png) center var(--white);
  border-color: var(--primary);
}
.wl-item[data-selected="true"] .wl-check {
  background: url(/image/cart/ckeck-on.png) center var(--white);
  border-color: var(--primary);
}

/* ===== 리스트 ===== */
.wl-main {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 0 2rem;
  width: 100%;
  height: 75rem;
}
.wl-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.wl-item {
  display: flex;
  gap: 1.2rem;
  padding: 1.6rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 1.2rem;
  position: relative;
}
.wl-link{
  display: flex;
  gap: 2rem;
}
.wl-itemcheck {
  margin-right: 0.6rem;
}
.wl-thumb img {
  /* position: absolute; */
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
}
.wl-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.wl-brand {
  font-size: 1.3rem;
  color: #999;
}
.wl-name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}
.wl-badge {
  font-size: 1.2rem;
  color: var(--secondary);
  background: var(--secondary-sub);
  padding: 0.3rem 0.8rem;
  width: fit-content;
}
.wl-price {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.wl-discount {
  color: var(--primary);
  font-weight: 700;
}
.wl-current {
  font-weight: 600;
}
.wl-original {
  color: #999;
  text-decoration: line-through;
  font-size: 1.2rem;
}

/* ===== 더 담으러 가기 / 예약하기 ===== */
.wl-more {
  width: 90%;
  margin: 3rem auto;
  padding: 1.4rem 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.wl-more-icon{
  border: 1px solid var(--medium-gray);
  color: var(--medium-gray);
  padding: 0.5rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 2.4rem;

}
.wl-more-text{
  color: var(--medium-gray);
}

.wl-bottom {
  margin: 3rem 3.5rem;
  padding-bottom: 6rem;
}
.wl-reserve {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1.4rem 3.5rem;
  margin-bottom: 2rem;
  background: var(--primary);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.5rem;
  cursor: pointer;
}
