.container{width: 100%;background-color: var(--light-gray1);}
.check-section{text-align: center;}
.check-icon{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 3rem 0;
  animation: check-ani 0.8s alternate;
  animation-delay: 0.5s;
}
@keyframes check-ani{
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(360deg);}
}

.check-icon img{
  width: 5rem; 
  height: 5rem;
}
.check-title{
  font-size: 2rem;
  font-weight: var(--bold);
}
.check-subtitle{
  font-size: 1.5rem;
  font-weight: var(--medium);
  line-height: 2rem;
  margin: 2rem 0 3rem 0;
}

.notice-box {
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--medium-gray);
  padding: 1.6rem;
  padding-bottom: 16rem;
  text-align: center;
}

/* class-card________________________________________________ */
.class-card{
  height: max-content;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
  margin: 0 1.5rem 1.5rem 1.5rem;
}
.card-title{
  font-size: 1.6rem;
  font-weight: var(--medium);
  padding: 2rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.icon20{width: 2rem;height: 2rem;}
.card-top{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  padding: 0 2rem;
}
.class-img{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  background: url(/image/csy/class.png) no-repeat center/cover;
}
.class-text{width: 80%;}
.class-title{
  font-size: 1.5rem;
  font-weight: var(--medium);
  margin-bottom: 0.6rem;
}
.class-num{
  font-size: 1.3rem;
  color: var(--dark-gray);
}

.line{
  width: 90%;
  height: 0.1rem;
  border: 0;
  background-color: #dedede;
  margin: 1.5rem auto;
}
.card-bottom{
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.card-info{
  font-size: 1.5rem;
  font-weight: var(--medium);
  color: var(--dark-gray);
  margin-bottom: 1rem;
}
.card-info:nth-of-type(3){
  color: var(--primary);
  margin-bottom: 2.5rem;
}
.card-info img{width: 1.8rem; height: 1.8rem;}
.info-more{
  font-size: 1.3rem;
  color: var(--dark-gray);
}
.info-more p:nth-of-type(1){margin-bottom: 1rem;font-weight: var(--medium);}
.info-more p span{
  display: inline-block;
  width: 7rem;
  border-right: 0.1rem solid #dedede;
  margin-right: 1rem;
}

/* button_________________________________________________________ */
.full-btn{
/* background-color: #fff; */
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3.5rem;
  margin-bottom: 6rem;
}
.full-btn .button2{
  width: 100%;
  height: 5rem;
  position: relative;
}
.full-btn .button2 a{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 5rem;
}