.container{width: 64rem;background-color: var(--light-gray1);}
.check-section{text-align: center;}
.check-icon{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 9rem 0 5rem 0;
  animation: check-ani 0.8s alternate;
  animation-delay: 0.5s;
}
@keyframes check-ani{
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(360deg);}
}

.check-icon img{
  width: 7.5rem;
  height: 7.5rem;
}
.check-title{
  font-size: 3rem;
  font-weight: var(--bold);
}
.check-subtitle{
  font-size: 2.2rem;
  font-weight: var(--medium);
  line-height: 3rem;
  margin: 3rem 0 5rem 0;
}

.notice-box {
  font-size: 1.9rem;
  line-height: 1.6;
  color: var(--medium-gray);
  padding: 2.4rem;
  padding-bottom: 15rem;
  text-align: center;
}

/* class-card________________________________________________ */
.class-card{
  width: 60rem;
  height: max-content;
  border-radius: 3rem;
  background: #fff;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.15);
  margin-left: 2.23rem;
  margin-bottom: 1.5rem;
}
.card-title{
  font-size: 2.4rem;
  font-weight: var(--medium);
  padding: 3rem 3rem 2rem 3rem;
}
.card-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.class-img{
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  background: url(/image/csy/class.png) no-repeat center/cover;
}
.class-text{max-width: 40rem;}
.class-title{
  font-size: 2.2rem;
  font-weight: var(--medium);
  margin-bottom: 0.9rem;
}
.class-num{
  font-size: 1.9rem;
  color: var(--dark-gray);
}

.line{
  width: 54rem;
  height: 0.1rem;
  border: 0;
  /* background-color: var(--light-gray2); */
  background-color: #dedede;
  margin: 2.2rem auto;
}
.card-bottom{
  margin-left: 3rem;
  padding-bottom: 3rem;
}
.card-info{
  font-size: 2.2rem;
  font-weight: var(--medium);
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
}
.card-info:nth-of-type(3){
  color: var(--primary);
  margin-bottom: 3.7rem;
}
.card-info img{width: 2.7rem; height: 2.7rem;}
.info-more{
  font-size: 1.9rem;
  color: var(--dark-gray);
}
.info-more p{margin-bottom: 1.5rem;font-weight: var(--medium);}
.info-more p span{
  display: inline-block;
  width: 10rem;
  border-right: 1px solid #dedede;
  margin-right: 1rem;
}

/* button_________________________________________________________ */
.full-btn{
/* background-color: #fff; */
  width: 64rem;
  height: 13.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.full-btn .button2{
  width: 53.6rem;
  height: 7.5rem;
  position: relative;
}
.full-btn .button2 a{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
  line-height: 7.5rem;
}