*{scroll-behavior: smooth;}

.container{
  width: 100%;
  height: max-content;
}

/* swiper plugin start_____________________________________ */
    .swiper-container{
      position: relative;
      height: 110%;
      margin: 0;
      padding: 0;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
      .swiper-slide {
        background: transparent;
        width: 19rem !important;
    }
    .swiper-slide .card-inner{
      display: block;
      height: 100%;
    }

    .card{border: 1px solid rgba(0, 0, 0, 0.1);box-shadow: none;}
/* ___________________________________end */

/* 공통 */
.main-title.event{
  font-size: 2.8rem;
  text-align: center;
  line-height: 3.5rem;
}

/* sec-title 공통 */
.sec-title{
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary);
  border-radius: 8rem;
  font-weight: var(--bold);
  text-indent: 2.5rem;
  color: #fff;
}
.sec-title:before{
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: url(/image/csy/gift-white-icon.png) no-repeat center/contain;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

/* top-bar_______________________________________________________________ */
.top-bar{
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: var(--white);
  border-bottom: 0.1rem solid var(--light-gray2);
  z-index: 10;
}
.top-bar .prev-btn{
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
}
.top-bar .prev-btn img{
  width: 2.5rem;
  height: 2.5rem;
}
.top-bar .top-tit{
  font-size: 1.8rem;
  font-weight: var(--medium);
  line-height: 5rem;
  text-align: center;
}

/* event-visual_______________________________________________________________ */
.event-visual{
  position: relative;
  width: 100%;
  height: 50rem;
}
.visual-image{
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: -1;
}
.visual-image img{width: 100%;}

.event-visual:after{
  content: '';
  background: url(/image/csy/santa.png) no-repeat center/contain;
  position: absolute;
  width: 65%;
  height: 50%;
  bottom: -3rem;
  left: 51%;
  transform: translateX(-50%);
  z-index: 1;
}
.event-visual .text-wrap{
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.event-visual .text-wrap .main-title img{width: 24rem;}
.event-visual .text-wrap .sub-title{
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.event-visual .text-wrap .sub-title.date{font-weight: 400;}

/* event-s1_______________________________________________________________ */

.event-s1{
  position: relative;
  color: var(--white);
  border-radius: 2rem 2rem 0 0;
  background: linear-gradient(178deg, #3E844E 1.15%, #246633 98.23%);
  width: inherit;
  height: max-content;
  text-align: center;
  overflow: hidden; 
}
.event-s1 .bg{position: absolute;width: 100%;}
.event-s1 .bg div:nth-child(1){position: absolute; width: 100%;}
.event-s1 .bg div:nth-child(1) img{position: absolute; left: 0; width: 100%;}
.event-s1 .bg div:nth-child(2){
  position: absolute; 
  top: 10rem; 
  left: 5%;
  width: 80%;
}
.event-s1 .topbg{
  position: relative;
  width: 100%;
}
.event-s1 .topbg div{position: absolute;}
.event-s1 .topbg div:nth-child(1){
  top: 0;
  left: 2%;
  animation: updown 2s ease-in-out alternate infinite;
}
.event-s1 .topbg div:nth-child(2){
  top: -2rem;
  left: 10%;
  animation: downup 2s ease-in-out alternate infinite;
  /* animation-delay: 1s; */
}
.event-s1 .topbg div:nth-child(3){
  top: 0;
  left: 22%;
  animation: updown 3s ease-in-out alternate infinite;
  animation-delay: 1s;
}
.event-s1 .topbg div:nth-child(4){
  top: -2rem;
  left: 68%;
  animation: downup 2.5s ease-in-out alternate infinite;
  animation-delay: 0.5s;
}
.event-s1 .topbg div:nth-child(5){
  top: 0rem;
  left: 77%;
  animation: updown 4s ease-in-out alternate infinite;
  animation-delay: 0.8s;
}
.event-s1 .topbg div:nth-child(6){
  top: 0rem;
  left: 88%;
  animation: updown 3s ease-in-out alternate infinite;
}

@keyframes updown{
  0%{transform: translateY(0rem);}
  100%{transform: translateY(-2.5rem);}
}
@keyframes downup{
  0%{transform: translateY(0rem);}
  100%{transform: translateY(2rem);}
}


.event-s1 .sec-title{margin: 6.5rem auto 2rem;}
.event-s1 .main-title.event{margin: 0.5rem 0 1.2rem 0;}
.event-s1 .sub-title{color: var(--white);}

.socks-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 4rem;
  background-color: rgba(255,255,255,0.15);
  padding: 4rem 2rem;
  margin: 2rem 1.5rem 0rem;
  border-radius: 3rem;
  backdrop-filter: blur(1rem);
}
.socks-box img{
  width: 100%;
  height: 100%;
}

.event-btn{
  width: 100%;
  height: 12rem;
  padding: 3rem auto 4rem;
}
.event-btn a{
  display: inline-block;
  background-color: rgba(255,255,255,0.15);
  border: 0.1rem solid var(--white);
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 5rem;
  padding: 1.5rem 3rem;
  margin: 3rem auto 4rem;
}

.info-box{
  background-color: rgba(0,0,0,0.3);
  text-align: left;
  padding: 3rem 0 2rem 2rem;

}
.info-box div{
  font-size: 1.5rem;
  font-weight: var(--bold);
  margin-bottom: 1.5rem;
}
.info-box p{
  position: relative;
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin-left: 1rem;
}
.info-box p:before{
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: var(--white);
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

/* event-s2___________________________________________________ */
.event-s2{position: relative;overflow: hidden;}
.event-s2 .bg{
  position: absolute;
  background: url(/image/csy/event-s2-bg.svg) no-repeat center/contain;
  width: 76rem;
  height: 16rem;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.event-s2 .sec-title{
  color: var(--primary);
  background-color: var(--white);
  border: 0.2rem solid var(--primary);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 9rem;
}
.event-s2 .sec-title:before{
  background: url(/image/csy/gift-color-icon.png) no-repeat center/contain;
  
}
.event-s2 .main-title.event{margin: 2rem 0 4rem 0;}

/* theme cards */
.theme-cards{
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 1.5rem;
}
.theme-card{
  position: relative;
  display: inline-block;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  overflow: hidden;
  transition: 0.3s;
}
.theme-card:after{
  position: absolute;
  width: 60%;
  height: 50%;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: var(--bold);
  text-indent: 1.5rem;
  line-height: 2.2;
  background-color: var(--primary);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
.theme-cake:after{content: '~53%';}
.theme-tree:after{content: '~48%';}
.theme-draw:after{content: '~50%';}
.theme-doll:after{content: '~45%';}

.theme-card .card-img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.theme-cake .card-img{background: url(/image/csy/theme-card1.jpg) no-repeat center/cover;}
.theme-tree .card-img{background: url(/image/csy/theme-card2.jpg) no-repeat center/cover;}
.theme-draw .card-img{background: url(/image/csy/theme-card3.jpg) no-repeat center/cover;}
.theme-doll .card-img{background: url(/image/csy/theme-card4.jpg) no-repeat center/cover;}

.theme-card .card-img:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.theme-card p{
  position: absolute;
  text-align: end;
  right: 2rem;
  bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: var(--bold);
}

.card{border-radius: 2rem;}
.card-inner .card-txt{padding: 0.3rem 1rem 1rem 1rem;}
/* class-wrap */
.class-wrap{padding-top: 5.5rem;}
#c-doll{padding: 5.5rem 0 10rem;}
.class-title{margin: 0 0 2rem 1.5rem;}

.class-title .main-title{font-family: "Noto Sans KR", sans-serif;}

.cards{
  width: max-content;
  display: flex;
  gap: 1.5rem;
}
.cards .card:nth-child(1){margin-left: 1.5rem;}
.card-inner .add-to-wish img{
  height: 2rem;
}

/* event-s3___________________________________________________ */

.event-s3{
  background-color: #1d1d1d;
}
.event-s3 .sec-title{
  left: 50%;
  transform: translateX(-50%);
  margin: 3rem auto 2.5rem;
}
.event-s3 .main-title.event{
  margin-bottom: 3.5rem;
  color: #fff;
}
.event-s3 .main-title.event span{color: var(--primary);}

/* 영화 추천 이미지 카드 */
.movie-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem 12rem;
}
.movie-card{
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(255,255,255,0.3);
  display: flex;
  overflow: hidden;
}
.movie-card a{
  position: absolute;
  width: 100%;
  height: 100%;
}
.movie-card a img{
  width: 100%;
  height: 100%;
}


