@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

#wrap{
  width: 100%;
  padding: 0 1.5rem;
}
.sub-title{margin-top: 0.5rem;}

/* s0 - slide__________________________________ */
.s0 {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slide{
  position: relative;
  width: 100%;
  height: 20rem;
  margin: auto;
  overflow: hidden;
}
.slide .slide-items {
  display: flex;
  width: 100%;
  height: 19rem;;
}
.slide .slide-items li{
  width: 100%;
  height: 19rem;;
  flex-shrink: 0; 
}
.slide .slide-items li img{
  width: 100%;
  height: 19rem;
  object-fit: cover;
}
.material-symbols-outlined {font-family: 'Material Symbols Outlined';}
.control{
  position: absolute;
  color: var(--white);
  display: flex;
  top: 1.5rem;
  right: 0;
  cursor: pointer;
}
.control-page {
  font-weight: var(--bold);
  font-size: 1.5rem;
}

.search {
  position: absolute;
  bottom: -2rem;
  width: calc(100% - 6rem);
  border-radius: 7.5rem;
  box-shadow: 0 5.953px 5.953px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 3rem;
}

.search input[type=search]{
  font-size: 2rem;
  background-color: #fff;
  width: 100%;
  height: 6rem;
  border-radius: 7.5rem 0 0 7.5rem;
  padding-left: 4.5rem;
}
.search input[type=search]::placeholder{
  font-size: 1.6rem;
  font-weight: var(--medium);
  color: #939393;
}
.search button {
  cursor: pointer;
  width: 8rem;
  background-color: #fff;
  border-radius: 0 7.5rem 7.5rem 0;
}
.search button img{
  width: 2.5rem;
}

/* s1___________________________ */
.s1{margin-top: 7rem;}
.sub-title{color: var(--medium-gray);}

.s1-card{
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}
.s1-card-img{position: relative;}

.s1-card-img img:nth-child(2){
  width: 15rem;
  height: 13.5rem;
  object-fit: cover;
  border-radius: 1.5rem;
}
.s1-card-text {
  flex:1;
  min-width: 0;
  /* height: 20rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.s1-card-title {
  font-size: 1.7rem;
  font-weight: var(--medium);
}
.s1-card-tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.3rem;
}
.s1-card-tag{
  font-size: 1.3rem;
  color: var(--primary);
  padding: 0.3rem 0.5rem;
  background-color: var(--primary-sub);
  border-radius: 3rem;
}
.s1-card-desc {
  color: var(--dark-gray);
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.add-to-wish{
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  object-fit: cover;
}
.add-to-wish img{width: 2.5rem;}
.add-to-wish.active img{content: url(/image/icon/hearticon-1.png);}

.sub-movie-title {
  font-weight: var(--medium);
  margin: 1.5rem 0 ;
}
/* swiper */
.movie-container{height: 10.5rem;}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem !important;
  width: 15rem !important;
  height: 7rem;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}
.swiper1 p{
  position: absolute;
  font-weight: var(--bold);
  color: #fff;
  z-index: 1;
}
.swiper1 div{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.swiper1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* s2_______________________________________ */
.s2{margin-top: 3rem;}

.class-icons{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  row-gap: 4rem;
}
.class-icon{
  width: 8.5rem;
  margin: auto;
}
.class-icon img{
  width: 8.5rem;
  height: 8.5rem;
  object-fit: cover;
}
.class-icon p {
  width: 8.5rem;
  height: 3rem;
  background-color: var(--primary-sub);
  line-height: 3rem;
  border-radius: 7.5rem;
  color: var(--primary);
  margin-top: 1rem;
  font-size: 1.4rem;
}

/* s3____________________________________ */
.s3{margin-top: 7rem;}

.keywords{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}
.keyword {
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  width: 100%;
  height: 10rem;
}
.keyword p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem 1.4rem;
  backdrop-filter: blur(10px);
  border-radius: 15rem;
  color: #fff;
  white-space: nowrap;
}
.keyword img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

/* s4_______________________________ */
.s4 {margin-top: 7rem;}
.place-swiper{margin-top: 4rem;}
.swiper2{
  width: 10rem !important; 
  height: 5rem;
  text-align: center;
  border: 1.8px solid var(--dark-gray);
  border-radius: 7.5rem;
  color: var(--dark-gray);
  font-weight: var(--medium);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1.5rem !important;
}
.swiper2.active{
  background-color: var(--primary);
  border: 1.5px solid var(--primary);
  color: #fff;
}
.swiper2:last-child{border: 2px dashed var(--dark-gray);}
.swiper2 img{width: 3rem;}

/* s4_메인타이틀 */
.place-main {
  margin-top: 4rem;
  width: 100%;
  height: 15rem;
  background: url(/image/main/place1.jpg) no-repeat center/cover;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 5.953px 5.953px 0 rgba(0, 0, 0, 0.15);
}
.place-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(179deg, rgba(0, 0, 0, 0.00) 34.41%, rgba(0, 0, 0, 0.70) 59.92%);
  border-radius: 3rem;
}
.place-txt{
  width: 50rem;
  color: #fff;
  font-weight: var(--medium);
  z-index: 1;
  position: relative;
  padding: 2rem;
  font-size: 1.4rem
}

.place-txt p:nth-child(2){
  font-size: 2.2rem;
  font-weight: var(--extrabold);
}
.place-txt p:nth-child(3){
  text-align: right;
}
.place-txt p:nth-child(3):after{
  content: '';
  width: 19rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 1rem;
}


/* 장소 카드 */
.place-content {margin-top: 4rem;}
.place-card {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
  position: relative;
}
.place-card img{
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 2rem;
}
.place-card-location{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.place-card-location img{
  width: 1.2rem;
  height: 1.2rem;
}
.place-card-location p{
  font-size: 1.2rem;
  color: var(--dark-gray);
}
.place-card-txt{
  height: 3.4rem;
  display: flex;
  flex-direction: column;
  row-gap:0.8rem;
}
.place-title {
  font-size: 1.4rem;
  font-weight: var(--medium);
  width: 100%;
  height: 6rem;
}
.place-tag{
  display: flex; 
  gap: 0.8rem;
}
.place-review{
  font-size: 1.1rem;
  width: 6.1rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: var(--primary);
  background-color: var(--primary-sub);
}
.place-speed{
  font-size: 1.1rem;
  width: 5.1rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: var(--secondary);
  background-color: var(--secondary-sub);
}
.place_icon{
  display: flex;
  position: absolute;
  bottom:0;
  right: 0;
}
.place_icon img{
  width: 3rem;
  height: 3rem;
}
.place-card-price{
  display: flex;
  column-gap: 0.7rem;
  font-size: 1.4rem
}
.place-card-price h6{
  font-weight: var(--bold);
  color: var(--primary);
}
.place-card-price span{font-weight: var(--medium);}
.place_icon.active img:nth-child(2){content: url(/image/main/location_heart-1.svg);}

#tab2 .place-main {background: url(/image/main/place2.jpg) no-repeat center/cover;}
#tab3 .place-main {background: url(/image/main/place3.jpg) no-repeat center/cover;}

.place-tab-contents > div{display: none;}
.place-tab-contents > div.active{display: block;}

/* s5_______________________________ */
.s5 {margin-top: 7rem;}

.day {
  margin-top: 4rem;
  width: 100%;
  height: 15rem;
  background: url(/image/main/day_movie.jpg) no-repeat top/cover;
  border-radius: 3rem;
  position: relative;
}
.day div{
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(179deg, rgba(0, 0, 0, 0.00) 34.41%, rgba(0, 0, 0, 0.30) 59.92%);
  border-radius: 3rem;
}
.day p {
  font-size: 1.8rem;
  font-weight: var(--extrabold);
  color: #fff;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.day_class{margin-top: 4rem;}
.day_class .sub-title{margin-bottom: 2.2rem;}
.day_card img{
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
}
.day_class_card {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  width: 100%;
}
.day_card {
  width: 12rem;
}
.day_card p:nth-of-type(1){
  margin: 1rem 0 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: var(--medium);
}
.day_card p:nth-of-type(2){
  font-size: 1.1rem;
  color: var(--secondary)
}
.day_card .place-card-price {
  font-size: 1.3rem;
}

/* s6_______________________________ */

.s6{margin-top: 7rem;}
.community-container{
  margin-top: 4rem;
  height: 31rem;
}
.swiper3{
  width: 19rem !important; 
  height: 35rem;
  cursor: pointer;
  margin-right: 1.5rem !important;
}
.swiper3 .card{height: 30rem;}

.card-people {
  display: flex;
  padding: 0.5rem 1.5rem;
  position: relative;
}
.card-people img{
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 1px solid #6B6B6B;
}
.card-people img:nth-of-type(2){
  position: absolute;
  left: 3rem;
}
.card-people img:nth-of-type(3){
  position: absolute;
  left: 4.5rem;
}
.card-people p {
  position: absolute;
  left: 7.5rem;
  font-size: 1rem;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
}
.swiper3 .card .card-inner .card-txt ul li:nth-child(1){
  font-size: 1.4rem;
  color: #333;
  font-weight: var(--medium);
}
.swiper3 .card .card-inner .card-txt ul li:nth-child(2){
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 0rem;
}
.swiper3 .card:nth-child(1){margin-left: 0.5rem;}
.text-inner {font-size:1.3rem;}
.card-inner .add-to-wish img{
  width: 2.5rem;
}
.s6 .button {
  margin-top: 4rem;
  width: 100%;
}

/* s7_______________________________ */
.s7{margin-top: 7rem;}
.story_container{margin-top: 4rem;}
.storys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
}
.story {
  width: 12rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.story img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.story p{
  width: 12rem;
  font-size: 1.3rem;
  font-weight: var(--medium);
}
.story span{color: var(--primary)}
.s7 .button{
  margin-top: 4rem;
  width: 100%;
}

/* s8_______________________________ */
.s8{margin-top: 7rem;}
.best {margin-top: 4rem;}
.best-lists {
  display: flex;
  column-gap: 1.5rem;
}
.best-list{
  padding: 1rem;
  border: 1.5px solid var(--dark-gray);
  color: var(--dark-gray);
  border-radius: 4.5rem;
  font-weight: var(--medium);
  cursor: pointer;
}
.best-list.active{
  background-color: var(--primary);
  border: 1.5px solid var(--primary);
  color: #fff;
}
.best-container {
  margin-top: 3rem;
}
.best-card{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: var(--light-gray1);
  padding: 1rem;
  border-radius: 1.4rem;
}
.best-card img:nth-of-type(1){
  width: 7rem;
  height: 7rem;
  border-radius: 1.4rem;
  object-fit: cover;
  flex-shrink: 0; 
}
.best-card > p{
  width: 2rem;
  height: 2rem;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 
  border-radius: 0.7rem;
  font-size: 1.3rem;
  line-height: 2rem;
}
.best-card img:nth-of-type(2){
  align-self: flex-start;
  width: 2.4rem;
}
.best-card img:nth-of-type(2).active{content: url(/image/main/location_heart-1.svg);}
.best-txt {
  display: flex;
flex-direction: column;
justify-content: space-between;
}
.best-txt p{
  font-weight: var(--medium);
  font-size: 1.4rem;
}
.best-txt span{font-size: 1.2rem;}

.best-container .best-cards{display: none;}
.best-container .best-cards.active{display: block;}

/* footer____________________________________ */
.site-footer{
  width: 100%;
  height: 100%;
  color: #4E4E4E;
  background-color: #FDEDF3;
  padding-bottom: 3rem;
  margin-top: 6rem;
}
.footer-inner{padding: 1.5rem;}
.footer-name{
  font-size: 1.3rem;
  padding: 1.5rem 0;
  font-weight: var(--medium);
}
.site-footer p {
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 1rem 0;
}
.footer-desc{
  display: flex;
  gap: 1.5rem;
}
.copy{
  font-size: 1.1rem;
  padding-bottom: 3rem;
}