@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

#wrap{
  width: 64rem;
  padding-bottom: 10rem;
}

/* s0 - slide__________________________________ */
.s0 {position: relative;}

.slide{
  position: relative;
  width: 64rem;
  height: 27.5rem;
  margin: auto;
  overflow: hidden;
}
.slide .slide-items {
  display: flex;
  width: 100%;
  height: 100%;
}
.slide .slide-items li{
  width: 100%;
  height: 100%;
}
.slide .slide-items li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.material-symbols-outlined {font-family: 'Material Symbols Outlined';}
.control{
  position: absolute;
  color: var(--white);
  display: flex;
  top: 1.5rem;
  right: 0;
  cursor: pointer;
}
.control-page {
  font-weight: var(--bold);
  font-size: 1.5rem;
}

.search {
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 58rem;
  border-radius: 7.5rem;
  box-shadow: 0 5.953px 5.953px 0 rgba(0, 0, 0, 0.15);
  display: flex;
}

.search input[type=search]{
  font-size: 2rem;
  background-color: #fff;
  width: 50rem;
  height: 7.5rem;
  border-radius: 7.5rem 0 0 7.5rem;
  padding-top: 5px;
  padding-left: 4.5rem;
}
.search input[type=search]::placeholder{
  font-size: 2rem;
  font-weight: var(--medium);
  color: #939393;
}
.search button {
  cursor: pointer;
  width: 8rem;
  background-color: #fff;
  border-radius: 0 7.5rem 7.5rem 0;
}

/* s1___________________________ */
.s1{margin-top: 13.65rem;}
.sub-title{color: var(--medium-gray);}

.s1-card{
  display: flex;
  gap: 3rem;
  margin-top: 6rem;
}
.s1-card-img{position: relative;}
.s1-card-img svg{
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}
.s1-card-img img{
  width: 22rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1.5rem;
}
.s1-card-text {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.s1-card-title {
  font-size: 2.5rem;
  font-weight: var(--medium);
}
.s1-card-tags {
  display: flex;
  gap: 0.8rem;
}
.s1-card-tag{
  font-size: 1.9rem;
  color: var(--primary);
  padding: 0.4rem 0.7rem;
  background-color: var(--primary-sub);
  border-radius: 3rem;
}
.s1-card-text p{word-break: keep-all;}
.s1-card-desc {color: var(--dark-gray);}

.sub-movie-title {
  font-size: 2.2rem;
  font-weight: var(--medium);
  margin: 1.5rem 0 ;
}
/* swiper */
.movie-container{height: 10.5rem;}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px !important;
  width: 22.3rem !important;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}
.swiper-slide p{
  position: absolute;
  font-size: 2.2rem;
  font-weight: var(--bold);
  color: #fff;
  z-index: 1;
}
.swiper-slide div{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



