.top{
  width: 64rem;
  height: 7.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 2.2rem;
  border-bottom: 1.5px solid #EDEDED;
}
.top p{
  font-size: 2.6rem;
  font-weight: var(--medium);
}
.top div{
  width: 4.4rem;
  height: 4.4rem;
}
.magazine-containter {
  width: 64rem;
  margin-top: 4.4rem;
  padding: 0 2.2rem;
}
#select{
  padding: 8px 20px;
  font-size: 1.9rem;
  border-radius: 0.7rem;
  border: 1px solid #ccc;
}
.magazine{margin-top: 4.4rem;}
.magazine-card{
  width: 59.5rem;
  height: 52.1rem;
  background-color: var(--light-gray1);
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
}
.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: 0.35s;
  z-index: 1;
  pointer-events: none;
}
.magazine-txt {padding: 2rem 2rem;}
.magazine-txt-top{
  display: flex;
  justify-content: space-between;
}
.magazine-txt-left{
  display: flex;
  font-weight: var(--medium);
  column-gap: 2.2rem;
  align-items: center;
}
.magazine-txt-left p{
  padding: 0.7rem 1.4rem;
  border-radius: 3rem;
  background-color: var(--primary);
  color: #fff;
}
.magazine-txt-left span{color: var(--dark-gray);}
.magazine-txt-bottom{
  margin-top: 3rem;
  position: relative;
}
.magazine-txt-bottom > p {
  font-size: 3rem;
  font-weight: var(--bold);
}
.magazine-txt-tag {
  margin-top: 1.5rem;
  display: flex;
  column-gap: 1.2rem;
  font-weight: var(--medium);
  color: var(--dark-gray);
}
.magazine-sns{
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 5rem;
  height: 160px;
  opacity: 0;
  transition: 0.35s;
  pointer-events: none;
  z-index: 1;
}
.sns-btn img{width: 3.5rem;}
.sns-btn {
  width: 5rem;
  height: 5rem;
  background-color: var(--light-gray1);
  border-radius: 50%;
  position: absolute;
  top:0;
  right: 0;
}
.sns-btn:nth-child(1) { z-index: 3; }
.sns-btn:nth-child(2) { z-index: 2; }
.sns-btn:nth-child(3) { z-index: 1; }
.trigger{
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 3;
}
.trigger_btn{
  width: 100%;
  height: 100%;
  position: relative;
}
.trigger_btn span{
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #333;
  border-radius: 50%;
  right:1rem;
  transition: 0.35s ease-in-out;
}
.trigger_btn span:nth-child(1){top: 0;}
.trigger_btn span:nth-child(2){top: 30%;}
.trigger_btn span:nth-child(3){top: 60%;}

.magazine-img{
  width: 59.5rem;
  height: 30rem;
}
.magazine-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* active */
.trigger_btn.active span{background-color: #fff;}
.trigger_btn.active span:nth-child(1){
  width: 100%;
  top: 50%;
  transform: rotate(45deg);
  border-radius: 1rem;
}
.trigger_btn.active span:nth-child(2){opacity: 0;}
.trigger_btn.active span:nth-child(3){
  width: 100%;
  top: 50%;
  transform: rotate(-45deg);
  border-radius: 1rem;
}
.magazine-sns.active{
  opacity: 1;
  pointer-events: auto;
}
.overlay.active{
  opacity: 1;
  pointer-events: auto;
}

/* footer____________________________________ */
.site-footer{
  width: 64rem;
  height: 100%;
  color: #4E4E4E;
  background-color: #FDEDF3;
  padding-bottom: 5rem;
  margin-top: 10rem;
}
.footer-inner{padding: 3rem;}
.footer-name{
  padding: 2.5rem 0;
  font-weight: var(--medium);
}
.site-footer p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 1rem 0;
}
.footer-desc{
  display: flex;
  gap: 3rem;
}
.copy{
  font-size: 1.7rem;
  padding-bottom: 3rem;
}