


/* 전체 레이아웃 */
#wrap {
  width: 100%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding: 0 1.5rem;
  background-color: var(--white);
}

/* 상단 헤더 */
.header-top {
  position: fixed;
  display: flex;
  width: 100%;
  height: 5.6rem;
  background-color: var(--white);
  padding: 1.3rem;
  border-bottom: 1px solid var(--light-gray2);
  margin-bottom: 3rem;
}
.page-info{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.page-info img{margin-left: 1rem;}
.page-info p{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: var(--semibold);
}

form.signup{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

/* 공통 박스 */
.form-box{margin-bottom: 3rem;}
.form-box label{
  display: block;
  font-size: 1.8rem;
  font-weight: var(--medium);
  margin-bottom: 1.5rem;
}

/* 기본 input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]{
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 1.2rem;
  background: var(--light-gray1);
  padding: 0 1.8rem;
  font-size: 1.6rem;
  outline: none;
  box-sizing: border-box;
}
input[type=password]{margin-bottom: 1.5rem;}

/* 아이디 안내문 */
.guide{
  font-size: 1.5rem;
  font-weight: var(--medium);
  color: var(--medium-gray);
  margin-top: 0.8rem;
  padding-left: 1.6rem;
}

/* input + button 구조 */
.input-row{
  display: flex;
  gap: 1rem;
}

/* 서브 버튼 */
.sub-btn{
  width: 15rem;
  background: var(--dark-gray);
  color: var(--white);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  transition: 0.3s;
}
.sub-btn:hover{
  background: var(--primary);
}
/* 이메일 줄 */
.email-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email-row span {font-size: 2.2rem;}
.email-row select{
  width: 100%;
  height: 5rem;
  border: none;
  color: var(--dark-gray);
  border-radius: 1.2rem;
  background: var(--light-gray1);
  padding: 1rem;
  font-size: 1.6rem;
  outline: none;
}

/* 성별 버튼 */
.gender-box {
  display: flex;
  gap: 1.2rem;
}

.gender-box button{
  flex: 1;
  height: 5rem;
  background: var(--light-gray1);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  color: var(--dark-gray);
}
.gender-box button.active{
  background: var(--primary);
  color: var(--white);
}

/* 가입하기 버튼 */
.submit-btn {
  width: 100%;
  height: 5rem;
  background: var(--primary);
  border-radius: 0.7rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 3rem auto;
}

/* 중복확인 버튼 클릭시 */
.guide-success{
  color: royalblue;
  font-weight: var(--medium);
}
