/* 상단 헤더 */
.header-top {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  height: 5rem;
  background-color: var(--white);
  padding: 0 2.2rem;
  border-bottom: 1px solid var(--light-gray2);
  z-index: 10;
}
.header-top img{width: 3rem;}
.header-top p{
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: var(--medium);
}


/* 전체 레이아웃 */
#wrap {
  border: 1px solid #000;
  width: 100%;
  margin-top: 7rem;
  padding: 0 1.5rem;
  background-color: var(--white);
}



form.signup{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* 공통 박스 */
.form-box{margin-bottom: 3rem;}
.form-box label{
  display: block;
  font-size: 1.8rem;
  font-weight: var(--medium);
  margin-bottom: 1.5rem;
}

/* 기본 input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]{
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 1.2rem;
  background: var(--light-gray1);
  padding: 0 1.8rem;
  font-size: 1.6rem;
  outline: none;
  box-sizing: border-box;
}
input[type=password]{margin-bottom: 1.5rem;}

/* 아이디 안내문 */
.guide{
  font-size: 1.5rem;
  font-weight: var(--medium);
  color: var(--medium-gray);
  margin-top: 0.8rem;
  padding-left: 1.6rem;
}

/* input + button 구조 */
.input-row{
  display: flex;
  gap: 1rem;
}

/* 서브 버튼 */
.sub-btn{
  width: 18rem;
  background: var(--dark-gray);
  color: var(--white);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  transition: 0.3s;
}
.sub-btn:hover{
  background: var(--primary);
}
/* 이메일 줄 */
.email-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email-row span {font-size: 2.2rem;}
.email-row select{
  width: 100%;
  height: 5rem;
  border: none;
  color: var(--dark-gray);
  border-radius: 1.2rem;
  background: var(--light-gray1);
  padding: 1rem;
  font-size: 1.6rem;
  outline: none;
}

/* 성별 버튼 */
.gender-box {
  display: flex;
  gap: 1.2rem;
}

.gender-box button{
  flex: 1;
  height: 5rem;
  background: var(--light-gray1);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  color: var(--dark-gray);
}
.gender-box button.active{
  background: var(--primary);
  color: var(--white);
}

/* button_________________________________________________________ */
.full-btn{
  background-color: #fff; 
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.5rem;
  margin-bottom: 6rem;
}
.full-btn .button2{
  width: 100%;
  height: 5rem;
  position: relative;
}
.full-btn .button2 a{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 5rem;
}
/* 중복확인 버튼 클릭시 */
.guide-success{
  color: royalblue;
  font-weight: var(--medium);
}
button,
input,
textarea,
select {
  font: inherit;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}