
.bar{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 2.2rem;
  border-bottom: 1.5px solid #EDEDED;
}
.bar a img{ 
  display: block;
  height: 3rem;
  width: 3rem;
}
.bar-inner h4{
  font-size: 1.8rem;
  font-weight: var(--medium);
}
.bar div{
  width: 3rem;
  height: 3rem;
}
.category-content{
  width: 100%;
  background:linear-gradient(var(--primary-sub),var(--white),var(--primary-sub));
  display: none;
}
.category-content.active{display: block;}
.category-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 3rem 2rem;
}
.category-content .category-txt h1{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif; 
  font-size: 2rem;
  font-weight: var(--bold);
  line-height: 2.5rem;
  b{
    color: var(--primary);
  }
}
.category-content .category-txt p{
  font-size: 1.5rem;
  color: var(--medium-gray);
  font-weight: var(--regular);
}
.category-content .category-inner .category-img img{
  width: 5rem;
  height: 6.3rem;
  margin-right: 5rem;
}
.cards{
  display: flex;
  flex-direction: column;
}
.card-row,
.card1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 1.8rem;
}
.card{
  width: 19rem;
  height: 26.5rem;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  background: #FFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 0;
  position: relative;
}
.card-inner{
  position: relative;
  width: inherit;
  height: inherit;
}
.card-inner .card-img{
  width: 100%;
  height: 15rem;
}
.card-inner .card-img img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.card-inner .card-txt{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0 1rem;
}
.card .card-inner .card-txt ul li:nth-child(1){
  font-size: 1.1rem;
  color: var(--dark-gray);
  padding-top: 0.5rem;
}
.card .card-inner .card-txt ul li:nth-child(2){
  font-size: 1.3rem;
  font-weight: var(--medium);
  color: var(--black);
  line-height: 1.8rem;
  margin-top: 0.3rem;
}
.card .card-inner .card-txt ul li:nth-child(3){
  color: var(--secondary);
  font-size: 1.1rem;
  font-weight: var(--medium);
  margin-top: 0.3rem;
}
.card .card-inner .card-txt .text-inner{
  display: flex;
  align-items: center;
  height: 1.2rem;
  gap: 0.5rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}
.card .card-inner .card-txt .text-inner h6{
  color: var(--primary);
  font-weight: var(--bold);
}
.card .card-inner .card-txt .text-inner p{
  color: var(--black);
  font-weight: var(--medium);
}
.card .card-inner .card-txt .card-review span{
  font-size: 1.1rem;
  font-weight: var(--regular);
  color: var(--primary);
  background-color: var(--primary-sub);
  padding: 0.3rem;
}
.card-inner .add-to-wish{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
    object-fit: cover;
  }
.card-inner .add-to-wish img{
  width: 2.1rem;
  height: 1.8rem;
}
.card-inner .add-to-wish.active img{
  content: url(/image/hm/hearticon-1.png);
  width: 2.1rem;
  height: 1.8rem;
}
.morebtn{
  display: block;
  border: none;
  cursor: pointer;
  width: 18rem;
  height: 5rem;
  font-size: 1.6rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 2rem;
}


/*(영화추천) */
.movie{
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.movie .movie-inner{
  display: flex;
  flex-direction: column;
}
.movie .movie-inner .movie-text{
  padding-left: 2rem;
}
.movie .movie-inner .movie-text h6{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif;
  font-size: 1.5rem;
  font-weight: var(--bold);
}
.movie .movie-inner .movie-text p{
  font-size: 1.3rem;
  font-weight: var(--regular);
  color: var(--dark-gray);
}
/* 영화 슬라이드 */
.swipers{
  margin-top: 1.5rem;
  background-color: #1d1d1d;
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide a img{
  display: block;
  width: 12rem;
  height: 18rem;
  border-radius: 1rem 1rem;
  opacity: 0.7;
  object-fit: cover;
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
}
.more-slide{
  width: 8.2rem;
  height: 100%;
  align-items: center;
}
.more-slide p{
  color: var(--white);
  font-size: 1.3rem;
  font-weight: var(--regular);
}

.swipers img:hover{opacity: 1;}

/* 3번째 섹션(다른카테고리 아이콘) */
.icon{
  margin-top: 5rem;
  padding-left: 2rem;
  font-size: 2rem;
}
.icons{
  margin: auto;
  margin-top: 3rem;
  width: 38.5rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.icons .box{
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 2rem;
  position: relative;
  display: flex;
}
.icons .box:last-child{
  grid-column: span 1;
  justify-self: center;
}
.icon h6{
  font-family: 'SchoolSafetyRoundedSmile', sans-serif;
  font-weight: var(--bold);
}
.icon span{color: var(--primary);}


.icons .box:nth-child(1){background-color: #F2EDFB;}
.icons .box:nth-child(2){background-color: #FFF8F4;}
.icons .box:nth-child(3){background-color: #FFF8F4;}
.icons .box:nth-child(4){background-color: #F2EDFB;}
.icons .box:nth-child(5){background-color: #F2EDFB;}
.icons .box img{
  /* width: 13.3rem; */
  height: 10rem;
  object-fit: cover;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.icons .box span{
  font-size: 1.7rem;
  font-weight: var(--medium);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.icons .box:nth-child(1) span{color: var(--secondary);}
.icons .box:nth-child(2) span{color: #97654B;}
.icons .box:nth-child(3) span{color: #97654B;}
.icons .box:nth-child(4) span{color: var(--secondary);}
.icons .box:nth-child(5) span{color: var(--secondary);}

/* footer____________________________________ */
.site-footer{
  width: 100%;
  height: 100%;
  color: #4E4E4E;
  background-color: #FDEDF3;
  padding-bottom: 3rem;
  margin-top: 6rem;
}
.footer-inner{padding: 1.5rem;}
.footer-name{
  font-size: 1.3rem;
  padding: 1.5rem 0;
  font-weight: var(--medium);
}
.site-footer p {
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 1rem 0;
}
.footer-desc{
  display: flex;
  gap: 1.5rem;
}
.copy{
  font-size: 1.1rem;
  padding-bottom: 3rem;
}